@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin:0;
    padding:0;
    background-color:rgba(7, 12, 23, 1);
    
}
/* body{
    padding-right: 30px;
} */
.container{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    /* border: 1px solid yellow; */
}
.heading{
    display: flex;
    gap: 6px;
    position:relative;
    /* z-index:999; */
    margin-top: 160px;
    /* margin-top: 10%; */
    margin-left: 17%;
    margin-right: 20%;
}
.heading svg{
    flex-shrink: 1;
    z-index: 5;
    background-color: transparent;
    /* width:10%; */
    height: 136px;
}

.heading svg:nth-last-child(1){
    margin-left: -24px;
    z-index: 1;
}


.background{
    display: flex;
    width: 100%;
    position:absolute;
    z-index:1;
    /* margin-right: 5%; */
    /* border: 1px solid yellow; */
    padding-top: 10px;
    transform-origin: top left;
}
.card1{
    width: 720px;
    height: 340px;
    background-color: transparent;
    position:relative;
    z-index:2;
    border:0.5px solid rgba(217, 217, 217, 1);
    border-radius:65px;
    margin-left: 5%;
    box-sizing: border-box;
}


.card2{
    width: 240px;
    height: 170px;
    position:absolute;
    z-index:3;
    background-color: rgba(7, 12, 23, 1);
    border-top: 0.5px solid rgba(217, 217, 217, 1);
    border-left: 0.5px solid rgba(217, 217, 217, 1);
    border-top-left-radius: 65px;
    bottom:-1px;
    right:-2px;
    box-sizing: border-box;
}
.card3{
    width: 720px;
    height: 340px;
    background-color: transparent;
    position:relative;
    z-index:1;
    border:0.5px solid rgba(217, 217, 217, 1);
    border-radius:65px;
    margin-top:85px;
    margin-left:-185px;
    box-sizing: border-box;
    margin-right: 10%;
}


.card4{
    width: 240px;
    height: 170px;
    position:absolute;
    z-index:4;
    background-color: rgba(7, 12, 23, 1);
    border-bottom: 0.5px solid rgba(217, 217, 217, 1);
    border-right: 0.5px solid rgba(217, 217, 217, 1);
    border-bottom-right-radius: 65px;
    top:-1px;
    left:-2px;
    box-sizing: border-box;
    display: flex;
}
.card3 .union{
    display: inline-block;
    margin-left: 86%;
    margin-top: -7%;
    /* border: 2px solid red; */
    background: none;

}
.union img{
    background: none;
    display: block;
    /* max-width: 100%;
    height: auto; */
}
.card3 .logo{
    display: flex;
    width: 100%;
    justify-content: space-between;
    /* margin-left: 75%; */
    margin-top: 25%;
    /* border: 2px solid red; */
    background: none;

}
.logo div{
    background: none;
}
.logo div:first-child{
    /* border: 2px solid red; */
    margin-top: 2rem;
}
.logo img{
    background: none;
    display: block;
    /* max-width: 100%;
    height: auto; */
}
.para{
    color: rgba(254, 251, 241, 1);
    margin-top: 9%;
    /* border: 1px solid red; */
    width: 30%;
    z-index: 999;
    position: relative;
    margin-left: 5%;
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}
.button{
    z-index: 5;
    position: relative;
   margin-top: 5%;
   margin-left: 40%;
   margin-right: 40%;
   /* border: 1px solid red; */
}
.button button{
    box-sizing: border-box;
    padding: 14px 40px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 20.297px;
    border: 2.001px solid #070C17;
    background: #D9FE78;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 22px;
    letter-spacing: 0.881px;
    color: #070C17;
    line-height: normal;
}
.button button:hover{
    box-shadow: 6.004px 4.003px 0px 0px #FEFBF1;
    cursor: pointer;
    scale: 1.05;
}
.star{
    position: absolute;
    margin-top: -10%;
   margin-left: 61%;
   /* z-index: 5; */
}
.bar{
    display: flex;
    color: white;
    /* border: 2px solid red; */
    justify-content: space-around;
}
.b{
    display: flex;
    gap:10px;
}
.details{
    display: flex;
    flex-direction: column;
}
.details{
    /* border: 2px dotted yellow; */
    font-family: "Montserrat", sans-serif;
}
.details div:first-child{
    color: rgba(254, 251, 241, 1);
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 3rem;
}
.details div:nth-child(2){
    align-self:stretch;
    color: #D9FE78;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
}