body{
    background-color: #070C17;
    box-sizing: border-box;
    margin: 0;
    display: flex;
}

.rules{
    background-color: #070C17;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    /* height: 100vh; */
    width: 100%;
    align-items: center;
    justify-content: center;
    /* padding-top: 62px;
    padding-bottom: 62px; */
    gap: 10px;
}


.rules-heading-container{
    display: flex;
    font-family: "Montserrat";
    font-weight: 700;
    line-height: normal;
    color: #FEFBF1;
    align-self: flex-start;
    font-size: 40px;
    margin-left: 5%;
    /* position: absolute;
    left: 10%;
    top: 10%; */
}

#guidelines{
    color: #D9FE78;
}

.rules-main-area {
    position: relative;
    /* width: 100vw; */
    max-width: 81vw;
    height: 80vh;
    overflow: hidden;
    /* display: flex;
    flex-direction: column; */
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(6, 1fr);
    /* justify-content: center; */
    align-items: center;
    gap: 1vw;
}

.rules-main-mesh-area{
    background: url("images/mesh.png");
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rule-card-container {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    width: 100%;
    gap: 18px;
    scroll-behavior: smooth;
    margin-bottom: 30px;
    padding-inline: 40px;
    box-sizing: border-box;
    position: relative;
}


.rules-arrow-container {
    margin-top: 20px;
    display: flex;
    gap: 10px;
}

.rules-arrow {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 2px solid #FEFBF1;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.2s ease;
    position: relative;
}

.rules-arrow:hover {
    border-color: #D9FE78;
}



.rule-area{
    display: flex;
    gap: 20px;
    flex-direction: row;
    flex-shrink: 1;
    min-width: 297px;
    width: 24vw;
    padding: 1vw;
    /* border: 0.596px solid #FEFBF1; */
    flex: 0 0;
    align-items: center;
    justify-content: center;
    height: 30vh;
}

.rule-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    border-radius: 50px;
    border: 0.596px solid #FEFBF1;
    background: #0C1A38;
    flex: 0 0; /* 3 cards per row with gap */
    min-width: 297px;
    width: 24vw;
    padding: 1vw;
    height: 30vh;
}

.rule-card-heading{
    color: #D9FE78;
    text-align: center;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.rule-card-content{
    color: #FEFBF1;
    text-align: center;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.rules-arrow-container{
    display: flex;
    gap: 5px;
}

.arrow-icon{
    stroke: #FEFBF1;
    transition: stroke 0.3s ease;
}

.rules-arrow:hover .arrow-icon path {
    stroke: #D9FE78;
  }

.shape-container.yellow-star{
    animation-name: cwrotate;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.shape-container.red-star{
    animation-name: acwrotate;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes cwrotate {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

@keyframes acwrotate {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(-360deg);
    }
}


.progress-ring-wrapper {
  position: absolute;
  top: -6px;
  left: -6px;
  width: 57px;
  height: 57px;
  z-index: 0;
}

.progress-ring {
  transform: rotate(-90deg);
}

.progress-ring-circle {
  fill: none;
  stroke: #D9FE78;
  stroke-width: 4;
  stroke-dasharray: 176;
  stroke-dashoffset: 176;
  transition: stroke-dashoffset 0.3s linear;
}


@media (max-width:1330px){
    .rules-main-area{
        max-width: 62vw;
    }

    .rule-area{
        min-width: 28vw;
    }

    .rule-card{
        min-width: 28vw;
    }
}

@media (max-width:956px){
    .rules-main-area{
        max-width: 62vw;
    }

    .rule-area{
        min-width: 58.9vw;
    }

    .rule-card{
        min-width: 58.9vw;
    }
}



