* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#jayansh {
    background: #070C17;
    color: white;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.ss_heading {
    width: 60%;
    font-size: 2.2vw;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 40px;
    text-align: center;
    color: #FEFBF1;
}

.highlight {
    color: #D9FE78;
}

.container {
    display: flex;
    position: relative;
    justify-content: center;
    width: 100%;
    z-index: 1;
}

#tmesh {
    position: absolute;
    top: -10%;
    width: 100%;
    height: 120%;
    object-fit: cover;
    z-index: -100;
    pointer-events: none;
    user-select: none;
} 

.hline {
    height: 0.25px;
    width: 100%;
    background-color: #2c2f36;
    position: absolute;
    z-index: 0;
}

.vline {
    height: 117%;
    width: 0.25px;
    background-color: #2c2f36;
    position: absolute;
    z-index: 0;
    top: -8%;
}

.slideshow {
    position: relative;
    width: 60%;
    max-width: 900px;
    /* height: 450px; */
    overflow: hidden;
    border-radius: 40px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    background-color: #D9FE78;
    aspect-ratio: 2/1;
    z-index: 1;
}

.slideshow.trans {
    border-radius: 0px;
}

.decor {
    position: absolute;
    z-index: 100;
    pointer-events: none;
    height: auto;
}

#d1 {
    top: 0%;
    left: 15%;
    width: 8vw;
}

#d2 {
    top: -12%;
    right: 15%;
    width: 10vw;
}

#d3 {
    bottom: -15%;
    left: 23%;
    width: 7vw;
}

#d4 {
    bottom: -14%;
    right: 18%;
    width: 7vw;
}

.slide {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-color: #0C1A38;
    overflow: hidden;
    border: 1px solid #FEFBF1;
    border-radius: 40px;
    opacity: 1;
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.quotes {
    position: absolute;
    height: 2.5vw;
}

.quotes:nth-child(1) {
    top: 35%;
    right: 54%;
}

.quotes:nth-child(2) {
    bottom: 10%;
    right: 5%;
}

.slide.active {
    pointer-events: all;
    opacity: 1;
}

.slide_vid {
    width: 32%;
    height: 80%;
    background-size: cover;
    background-position: center;
    background-color: #273961;
}

.slide_text {
    width: 50%;
    height: 80%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
}

.st_head {
    display: flex;
    align-items: center;
    margin-bottom: 2.5vw;
    padding-left: 10px;
    gap: 20px;
}

.st_head_img {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    background-color: #FEFBF1;
}

.st_head_txt {
    font-size: 1.3vw;
    color: #FEFBF1;
    line-height: 1.3;
}

.st_head_txt span {
    font-size: 1.5vw;
    font-weight: bold;
}

.st_desc {
    font-size: 1vw;
    color: #FEFBF1;
    line-height: 1.5;
    overflow: hidden;
    line-height: 1.4;
}

.controls {
    position: absolute;
    right: 10%;
    top: 40%;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    gap: 20px;
    z-index: 10;
}

.control_btn {
    background-color: #070C17;
    border: 3px solid #FEFBF1;
    cursor: pointer;
    border-radius: 100px;
    transition: background 0.1s;
    padding: 0px;
    width: 3.2vw;
    height: 3.2vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.control_btn img {
    width: 1.3vw;
}

.control_btn:hover {
    border-color: #D9FE78;
}

.control_btn:active {
    background-color: rgba(217, 254, 120, 0.3);
}

.dots {
    width: 60%;
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 60px 0;
}

.dot.active {
    background-color: #D9FE78;
}

.dot {
    height: 10px;
    width: 10px;
    background-color: #FEFBF1;
    border-radius: 50%;
}

@media (max-width: 768px) {

    .ss_heading {
        width: 100%;
        font-size: 4vw;
        margin-bottom: 10vw;
    }

    .container {
        flex-direction: column;
        align-items: center;
    }

    .controls {
        position: static;
        margin-top: 20px;
    }

    .slide_vid {
        display: none;
    }

    .slide_text {
        width: 100%;
        height: 100%;
        padding: 20px;
    }

    .st_head {
        margin-bottom: 10vw;
        display: flex;
        justify-content: center;
    }

    .quotes:nth-child(1) {
        top: 36%;
        left: 5%;
    }

    .slideshow {
        width: 80%;
        aspect-ratio: 16/14;
        border-radius: 15px;
    }

    .slide {
        border-radius: 15px;
    }

    .st_head_txt {
        font-size: 3vw;
    }

    .st_head_txt span {
        font-size: 4vw;
    }

    .st_desc {
        font-size: 2.5vw;
    }

    .controls {
        width: 100%;
        top: 110%;
        right: 0%;
        flex-direction: row-reverse;
    }

    .dots {
        padding: 20px 0px;
        z-index: 2;
    }

    .control_btn {
        width: 6vw;
        height: 6vw;
        border-radius: 50%;
    }

    .control_btn img {
        width: 2.5vw;
    }

    .st_head_img {
        width: 8vw;
        height: 8vw;
    }

    #d1 {
        top: -2%;
        left: 0%;
        width: 15vw;
    }

    #d2 {
        top: -6%;
        right: 2%;
        width: 15vw;
    }

    #d3 {
        bottom: 5%;
        left: 15%;
        width: 13vw;
    }

    #d4 {
        bottom: 5%;
        right: 6%;
        width: 12vw;
    }

    body {
        overflow: hidden;
    }
}