body{
    margin:0px;
}
.nav{
    box-sizing: border-box;
    background: #070C17;
    display: flex;
    width: 100%;
    height:120px;
    padding: 20px 80px;
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
    justify-content: space-between;
}
.nav .first{
    width: 41.999px;
height: 44.039px;
padding:10px 0px;
}
.pages{
    box-sizing: border-box;
    display: flex;
    width: 580px;
    height: 65px;
    padding: 10px 16px;
    margin: 0;
    flex-direction: row;
    justify-content: space-between;

    align-items:flex-start;
    gap: 10px;
    border-radius: 50px;
    background: #141B2A;
}
.pages li{
    box-sizing: border-box;
    padding: 11px 22px;
    align-items: center;
    color: #D9FE78;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 550;
    line-height: normal; 
    list-style: none; 
    transition: background-color 0.3s  ease-in, border-radius 0.3s ease-in;
}
.pages li:hover{
    display: flex;
    /* width: 112px;
    height: 45px; */
    padding: 11px 22px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 50px;
    background: #D9FE78;
    color:#070C17;
    cursor: pointer;
    
}
.logo {
    
    box-sizing: border-box;
    display: flex;
    width: 120.616px;
    height: 44.314px;
    flex-shrink: 0;
    justify-content:center;
    align-items: center;
    gap: 1.279px;
    background-color: rgba(217, 217, 217, 0.31);
    backdrop-filter: blur(77.5166015625px);
    border-radius:50px ;
    padding: 10px 16px;
    margin:10.35px 0px;
}
.whiteCircle{
    display: flex;
    width: 34.97px;
    height: 34.97px;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    gap: 1.279px;
    flex-shrink: 0; 
    border-radius: 639.418px;
    background: #F9F6F1;
}
.logo .logotext{
   display: flex; 
    flex-flow: column; 
}
.logotext p{
    width: 66.986px;
    height: 16.747px;
    flex-shrink: 0;
    color: #F9F6F1;
    font-family: Nohemi,sans-serif;
    font-size: 11.549px;
    font-style: normal;
    font-weight: 400;
    line-height: 17.452px; /* 151.105% */
    letter-spacing: -0.451px;
    margin: 0px;
}
 p.ecell{ 
    color: #F9F6F1;
    font-family:Nohemi,sans-serif;
    font-size: 12.105px;
    font-style: normal;
    font-weight: bold;
    line-height: 19.061px; /* 157.462% */
    letter-spacing: -0.005px;
    text-transform: uppercase;
    margin: 0px;
 }
.threeLine{
    display:none;
}
.popupMenu{
    display:none;
}
@media(max-width:412px){
    .nav{
        gap:8px;
        padding:10px 10px;
        justify-content: flex-start;
        align-items: center;
        height:80px;
    }
    .logo{
        order:-1;
    }
    .pages{
        display:none;
    }
    .threeLine{
        position:absolute;
        display:flex;
        align-items:flex-start;
        right:5px;
    }
    .threeLine svg{
        height:20px;
    }
    .popupMenu{
        display: none;
        width:100%;
        height:100%;
        background-color:  #141B2A;
        position: absolute;
        z-index:1000;
        top:15px;
    }
    .popupMenu ul{
        display:flex;
        flex-direction: column;
    }
    .popupMenu li{
        width:40%;
    box-sizing: border-box;
    padding: 11px 22px;
    align-items: center;
    color: #D9FE78;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 550;
    line-height: normal; 
    list-style: none; 
    transition: background-color 0.1s  ease-in, border-radius 0.1s ease-in;
}
.popupMenu li:hover{
    display: flex;
    /* width: 112px;
    height: 45px; */
    padding: 5px;
    width:40%;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 50px;
    background: #D9FE78;
    color:#070C17;
    cursor: pointer;
    


}
.closeBtn {
  position: absolute;
  top: 8px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
  color:white;
}
.popupMenu.active{
    display:block;
}
}